# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. 🙂

In [1]:
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you’ll―of course―overcome them with what you learned in class! 😉

## Food Choices Data Set

### Load the Data

In [2]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [3]:
# Count by hand. (lol kidding)
len(df_food)

125

What are the columns and their types in this data set?

In [4]:
# Show the column names and their types.

print(df_food.dtypes)

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we’d like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. …and maybe gender.

Can you remove the other columns?

In [5]:
# Remove ‘em.

df_food = df_food.loc[:, ['calories_day', 'weight', 'Gender']]
df_food

     calories_day                    weight  Gender
0             NaN                       187       2
1             3.0                       155       1
2             4.0  I'm not answering this.        1
3             3.0             Not sure, 240       1
4             2.0                       190       1
..            ...                       ...     ...
120           4.0                       156       1
121           2.0                       180       1
122           NaN                       120       1
123           4.0                       135       2
124           NaN                       135       1

[125 rows x 3 columns]

What about `NaN`s? How many are there?

In [6]:
# Count ‘em.

df_food.isnull().sum().sum()

21

We gotta remove those `NaN`s―the entire row.

In [7]:
# Drop ‘em.

df_dropped = df_food.dropna()
df_dropped

     calories_day                    weight  Gender
1             3.0                       155       1
2             4.0  I'm not answering this.        1
3             3.0             Not sure, 240       1
4             2.0                       190       1
5             3.0                       190       1
..            ...                       ...     ...
118           3.0                       140       1
119           3.0                       185       2
120           4.0                       156       1
121           2.0                       180       1
123           4.0                       135       2

[104 rows x 3 columns]

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. 🤔

In [8]:
# Fix that.

def string_to_number(input_str):
    try:
        return (int(input_str))
    except:
        return None


df_dropped['weight'] = df_dropped['weight'].apply(string_to_number)
df_nona = df_dropped.dropna()

df_nona

/var/folders/17/kd7ctmb50z57l4pr3wdxdth00000gn/T/ipykernel_2069/2453117943.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped['weight'] = df_dropped['weight'].apply(string_to_number)

     calories_day  weight  Gender
1             3.0   155.0       1
4             2.0   190.0       1
5             3.0   190.0       1
6             3.0   180.0       2
7             3.0   137.0       1
..            ...     ...     ...
118           3.0   140.0       1
119           3.0   185.0       2
120           4.0   156.0       1
121           2.0   180.0       1
123           4.0   135.0       2

[101 rows x 3 columns]

Now this data seems reasonably clean for our purposes! 😁

Let’s save it somewhere to be shipped off to another teammate. 💾

In [9]:
# Savey save!

df_nona.to_csv('data/foods_clean.csv')

exported_df = pd.read_csv('data/foods_clean.csv')
exported_df.head()

   Unnamed: 0  calories_day  weight  Gender
0           1           3.0   155.0       1
1           4           2.0   190.0       1
2           5           3.0   190.0       1
3           6           3.0   180.0       2
4           7           3.0   137.0       1

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [22]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).

# salary_survey_path = 'data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv'
salary_survey_path = 'data/salary_survey.tsv'

df_salary = pd.read_table(salary_survey_path)

Was that hard? 🙃

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [24]:
# Count by hand. I’m dead serious.

len(df_salary)

28062

What are the columns and their types?

In [27]:
# Show the column names and their types.

print(df_salary.dtypes)

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh… Ugh! Give these columns easier names to work with first. 🙄

In [28]:
# Rename ‘em.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race

df_salary.columns

new_col_names = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed', 'gender', 'race']

df_salary.columns = new_col_names
print(df_salary.dtypes)

timestamp                       object
age                             object
industry                        object
title                           object
title_context                   object
salary                          object
additional_compensation        float64
currency                        object
other_currency                  object
salary_context                  object
country                         object
state                           object
city                            object
total_yoe                       object
field_yoe                       object
highest_education_completed     object
gender                          object
race                            object
dtype: object

It’s a lot, and that should not have been easy. 😏

You’re going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [29]:
# List the unique industries and a count of their instances.

df_salary['industry'].value_counts()

Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: industry, Length: 1219, dtype: int64

That value among the top 5 is what you’re looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [111]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)

tech_condition = df_salary['industry'] == 'Computing or Tech'
df_tech_salary = df_salary[tech_condition]

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [112]:
# Sanity Check 

df_tech_salary['industry'].value_counts()

Computing or Tech    4699
Name: industry, dtype: int64

We are very interested in salary figures. But how many dollars 💵 is a euro 💶 or a pound 💷? That sounds like a problem for another day. 🫠

For now, let’s just look at U.S. dollars (`'USD'`).

In [113]:
# Filtery filter for just the jobs that pay in USD!

usd_condition = df_tech_salary['currency'] == 'USD'

df_tech_salary[usd_condition]

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28044,6/3/2024 16:15:43,18-24,Computing or Tech,Research Data Analyst Associate,NaN,60000,0.0,USD,NaN,NaN,United States,Illinois,Evanston,2 - 4 years,1 year or less,College degree,Woman,White
28051,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000,15000.0,USD,NaN,NaN,Usa,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,Usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [114]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

df_tech_salary[usd_condition]['country'].value_counts()

United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
                            ...
Pakistan                       1
Puerto Rico                    1
America                        1
Uniyed states                  1
Burma                          1
Name: country, Length: 76, dtype: int64

### Clean the Data

Well, we can’t get our answers with what we currently have, so you’ll have to make some changes.

Let’s not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value―say, `'US'`, which is nice and short.

In [119]:
# Replace them all with 'US'.

mappings = {
    'United States': 'US',
    'USA': 'US',
    'U.S.': 'US',
    'United States of America': 'US'
}


df_tech_salary['country'] = df_tech_salary['country'].replace(mappings)

/var/folders/17/kd7ctmb50z57l4pr3wdxdth00000gn/T/ipykernel_2069/2298085722.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tech_salary['country'] = df_tech_salary['country'].replace(mappings)

Have a look at the count of each unique country again now.

In [120]:
# Count again.

df_tech_salary[usd_condition]['country'].value_counts()

US                3408
United States       68
Usa                 59
USA                 56
usa                 28
                  ...
Mexico               1
United Stateds       1
ISA                  1
singapore            1
Burma                1
Name: country, Length: 72, dtype: int64

Did you notice anything interesting?

In [128]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

for val in df_tech_salary['country']:
    df_tech_salary['country'] = df_tech_salary['country'].str.strip()
    df_tech_salary['country'] = df_tech_salary['country'].str.lower()

mappings = {
    'united states': 'US',
    'usa': 'US',
    'u.s.': 'US',
    'united states of america': 'US',
    'us': 'US'
}

df_tech_salary['country'] = df_tech_salary['country'].replace(mappings)

/var/folders/17/kd7ctmb50z57l4pr3wdxdth00000gn/T/ipykernel_2069/3685243094.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tech_salary['country'] = df_tech_salary['country'].str.strip()
/var/folders/17/kd7ctmb50z57l4pr3wdxdth00000gn/T/ipykernel_2069/3685243094.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tech_salary['country'] = df_tech_salary['country'].str.lower()
/var/folders/17/kd7ctmb50z57l4pr3wdxdth00000gn/T/ipykernel_2069/3685243094.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tech_salary['country'] = df_tech_salary['country'].replace(mappings)

In [129]:
# BONUS CREDIT: if you’ve resolved it, let’s see how well you did by counting the number of instances of each unique value.
df_tech_salary[usd_condition]['country'].value_counts()

US                         3698
u.s.a.                        7
canada                        5
israel                        5
u.s.a                         3
unitedstates                  2
poland                        2
new zealand                   2
united kingdom                2
united state of america       2
brazil                        2
spain                         2
singapore                     2
u.s                           2
india                         2
denmark                       2
australia                     2
nigeria                       2
unite states                  2
france                        2
unites states                 1
thailand                      1
united stares                 1
china                         1
jamaica                       1
ghana                         1
japan                         1
romania                       1
san francisco                 1
australian                    1
ss                            1
colombia                      1
mexico                        1
netherlands                   1
pakistan                      1
isa                           1
united stateds                1
uruguay                       1
remote (philippines)          1
united stated                 1
international                 1
italy                         1
danmark                       1
cuba                          1
united state                  1
puerto rico                   1
america                       1
uniyed states                 1
burma                         1
Name: country, dtype: int64

It’s looking good so far. Let’s find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [132]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

us_condition = df_tech_salary['country'] == 'US'

gb = df_tech_salary[us_condition].groupby('state')

gb['salary'].agg(['min', 'mean', 'max'])

TypeError: Could not convert 75,00070,00072,00052,00029,120105,000120,00052000550009500035000035000 to numeric

Well, pooh! We forgot that `salary` isn’t numeric. Something wrong must be fixed.

In [154]:
# Fix it.

# Remove all commas
df_tech_salary['salary'] = df_tech_salary['salary'].replace(
    ',', '', regex=True)

# Turn all salaries into integers
df_tech_salary[us_condition]['salary'] = df_tech_salary[us_condition]['salary'].astype(int)

/var/folders/17/kd7ctmb50z57l4pr3wdxdth00000gn/T/ipykernel_2069/212007914.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tech_salary['salary'] = df_tech_salary['salary'].replace(
/var/folders/17/kd7ctmb50z57l4pr3wdxdth00000gn/T/ipykernel_2069/212007914.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tech_salary[us_condition]['salary'] = df_tech_salary[us_condition]['salary'].astype(int)

Let’s try that again.

In [155]:
# Try it again. Yeah!
gb = df_tech_salary[us_condition].groupby('state')

gb['salary'].agg(['min', 'mean', 'max'])

                                  min           mean     max
state
Alabama                        105000   6.250058e+61   95000
Alabama, District of Columbia  156000   1.560000e+05  156000
Alabama, Montana                72000   7.200000e+04   72000
Alaska                         158000   3.350008e+10   67000
Arizona                        100000  2.432458e+203   95000
...                               ...            ...     ...
Vermont                        100000   8.125101e+42   91250
Virginia                       100000            inf   96500
Washington                     100000            inf   97000
West Virginia                  116500   4.166671e+16  125000
Wisconsin                           1            inf   98000

[66 rows x 3 columns]

That did the trick! Now let’s narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [160]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

df_tech_salary['timestamp'] = pd.to_datetime(df_tech_salary['timestamp'])

mask = (df_tech_salary['timestamp'] >=
        '2021-01-01') & (df_tech_salary['timestamp'] <= '2022-12-31')

df_tech_salary.loc[mask]

/var/folders/17/kd7ctmb50z57l4pr3wdxdth00000gn/T/ipykernel_2069/885475075.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tech_salary['timestamp'] = pd.to_datetime(df_tech_salary['timestamp'])

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1,2021-04-27 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,united kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,2021-04-27 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,112000,10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,2021-04-27 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,187500,5000.0,USD,NaN,NaN,US,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,2021-04-27 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,110000,20000.0,USD,NaN,"Around 20,000 a year in stock",US,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,2021-04-27 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,144600,2500.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,2022-11-08 08:38:21,25-34,Computing or Tech,Data Ops Lead,I run the data and revenue operations functions.,140000,0.0,CAD,NaN,NaN,canada,NaN,Toronto,8 - 10 years,2 - 4 years,College degree,Woman,White
27900,2022-11-15 02:12:12,55-64,Computing or Tech,Configuration Manager,NaN,49000,NaN,GBP,NaN,NaN,united kingdom,NaN,Work from home,21 - 30 years,21 - 30 years,College degree,Man,White
27907,2022-11-30 16:49:40,25-34,Computing or Tech,Senior bioinformatics scientist,NaN,170420,20000.0,USD,NaN,NaN,US,California,SF Bay Area,2 - 4 years,2 - 4 years,PhD,Woman,White
27915,2022-12-13 18:21:14,25-34,Computing or Tech,Business Development Director,NaN,111000,30000.0,USD,NaN,NaN,US,California,Costa Mesa,5-7 years,2 - 4 years,College degree,Man,"Hispanic, Latino, or Spanish origin, White"
27918,2022-12-19 15:54:49,25-34,Computing or Tech,UX/UI Designer,NaN,54000,0.0,CAD,NaN,Very generous vacation policy,canada,NaN,Toronto,2 - 4 years,1 year or less,College degree,Woman,Another option not listed here or prefer not t...

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you’ve now reached. What do you notice about Delaware and West Virginia?

Let’s back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum―say 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you―like say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* 😜)